# Data Visualisation

## Import Required Modules

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Import Data

In [5]:
demand_df = pd.read_csv('demand.csv')
demand_df

,Date,Building0,Building1,Building3,Building4,Building5,Building6,Solar0,Solar1,Solar2,Solar3,Solar4,Solar5
0,2016-07-03 21:30:00,283.8,NaN,581.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-07-03 21:45:00,283.8,NaN,581.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-07-03 22:00:00,283.8,NaN,581.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-07-03 22:15:00,606.0,NaN,624.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-07-03 22:30:00,606.0,NaN,624.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148805,2020-09-30 22:45:00,96.9,14.4,389.0,NaN,NaN,35.6,29.67,6.68,6.34,5.49,4.55,25.28
148806,2020-09-30 23:00:00,96.9,18.8,389.0,1.0,NaN,38.6,29.94,6.71,6.39,5.65,4.57,25.30
148807,2020-09-30 23:15:00,37.4,4.5,415.0,NaN,NaN,38.6,34.02,8.13,7.71,6.83,5.32,28.62
148808,2020-09-30 23:30:00,37.4,9.6,415.0,NaN,NaN,38.6,38.10,9.55,9.03,8.02,6.08,31.94
148809,2020-09-30 23:45:00,37.4,14.0,415.0,NaN,NaN,38.6,39.88,10.12,9.67,8.62,6.33,32.92

In [6]:
price_df = pd.read_csv('price.csv')
price_df

                     Date  TOTALDEMAND    RRP
0     2020-10-01 00:30:00      4670.40  39.09
1     2020-10-01 01:00:00      4513.84  38.39
2     2020-10-01 01:30:00      4329.71  36.46
3     2020-10-01 02:00:00      4146.21  35.79
4     2020-10-01 02:30:00      4003.90  33.65
...                   ...          ...    ...
1483  2020-10-31 22:00:00      4371.16  44.13
1484  2020-10-31 22:30:00      4231.38  45.91
1485  2020-10-31 23:00:00      4200.92  44.14
1486  2020-10-31 23:30:00      4401.31  57.43
1487  2020-11-01 00:00:00      4357.60  63.47

[1488 rows x 3 columns]

In [8]:
weather_df = pd.read_csv('weather.csv')
weather_df

,Date,olympic_max_temp,moorabbin_max_temp,olympic_min_temp,moorabbin_min_temp,olympic_rain,oakleigh_rain,moorabbin_rain,olympic_solar,oakleigh_solar,moorabbin_solar
0,2013-01-01,NaN,22.8,NaN,13.3,NaN,0.0,0.0,31.1,30.5,29.4
1,2013-01-02,NaN,20.5,NaN,12.6,NaN,0.0,0.0,31.9,32.8,33.0
2,2013-01-03,NaN,36.5,NaN,12.0,NaN,0.0,0.0,32.8,32.2,31.9
3,2013-01-04,NaN,41.5,NaN,18.6,NaN,0.0,0.0,33.5,33.6,33.6
4,2013-01-05,NaN,26.2,NaN,18.8,NaN,0.0,0.0,30.5,31.4,29.6
...,...,...,...,...,...,...,...,...,...,...,...
3132,2021-07-30,14.9,16.0,8.0,6.8,0.0,0.0,0.0,9.8,10.5,10.0
3133,2021-07-31,18.1,18.6,9.9,10.9,0.0,0.0,0.0,10.3,10.6,10.3
3134,2021-08-01,15.7,14.6,8.0,8.2,18.0,18.8,17.8,10.7,11.4,11.5
3135,2021-08-02,15.4,16.4,6.5,5.6,0.0,0.0,0.0,11.5,11.3,11.1
3136,2021-08-03,14.5,13.7,8.7,6.7,4.8,8.4,6.2,9.5,10.8,10.8